<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

<style>
  h1 {
    text-align:center
  }

  body {
  background-color: lightpink;
}