<h1>New Project</h1>


<%= render 'form', project: @project %>

<td><%= link_to "<button>Back</button>".html_safe, projects_path, :id=>"open-contacts-dialog-btn", :class=>"inbox-sf-add-btn tip" %>

<style>
  h1 {
    text-align:center
  }

  body {
  background-color: lightpink;
}

