<h1>New Project</h1>

<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#e3e3e3;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{text-align:center;font-family:Cursive;font-size:55px; color:#f995c5;background-color:#e3e3e3;}


</style>
</head>

<body>
</html>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
